body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.a4-page {
    width: 210mm;
    height: 297mm;
    margin: auto;
    /* padding: 10mm; */
    border: 0.5px solid #000;
    box-sizing: border-box;
}

#previewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    width: calc(50% - 10px); /* Adjust for two columns */
    box-sizing: border-box;
    page-break-inside: avoid;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #000;
    padding: 2px; /* Reduced padding */
    text-align: center;
    word-wrap: break-word;
}

th {
    font-weight: bold;
}

h4{
    text-align: center;
    margin: 5px 0; /* Reduced margins */
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}


.printme {
	display: none;
}

/* Print styles */
@media print {
    @page {
        size: A4;
        margin: 10mm;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .a4-page {
        border: none;
        padding: 0;
    }

    .card {
        width: calc(50% - 10px); /* Ensure two columns */
        margin: 5px; /* Adjust margins for printing */
        page-break-inside: avoid;
    }

    #previewContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}
}
